@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  /* so if we add any padding or any border onto an element it doesnt actually affect the width of it */
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  /* because most of the project will be something that's right in the middle of the viewport  */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* I don't want scroll bars to be shown on default */
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
